p{text-align:center;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
	dispkay:block;
}


body {
  background-color: powderblue;
}
.imgRedonda {
    width:100px;
    height:90px;
    border-radius:120px;
}


.float-parent {
    width;50%;
		float:left;
}

