body{
    background-color: aqua;
    
}
header{
    display:flex ;
    
    justify-content: center;
    align-items: center;
}


header div {
    align-items: right;
    border: solid;
    border-color: aqua;
    background-image: url("4.jpeg");
    
    border-radius: 5em ;
    background-size: 100% 115%;
    background-repeat: no-repeat;
    width: 90%;
    height: 120px;
    margin-left: 30%;
    margin-right: 30%;
    align-items: center; 
}

.fotos img{
       
    width: 80p;
    height:80px;
    padding: 5px;
    margin: 10px;
    align-items: center;
}

section{
    background-color: black;
    padding-bottom: 5px;
    
}

.contenedor {
   border-style: dotted;
    width: 100%;
   display:flex;
}
.contenedor div p{
        position:absolute;
        padding-left: 10px;

    
}

.contenedor div{
   
    border: none;
    width: 100%;
}

hr{
    margin-top: 10px;
    height: 20px;
    width: 100%;

}
.foto{
    border: solid white;

    width: 20%;
    height: 90%;
    position: absolute;
    margin-left: 75%;

}
.gallery{
    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        padding: 20px;
        
    }
    .gallery img {
        max-width: 15%;
        height: auto;
        border-radius: 10px;
       

}

.circulo {
      
      width: 40px;
      height: 40px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 50%;
      background:red;
      margin-left: 3px;
      display:flex;
      justify-content: center;
      align-items: center;
      
}

.circulo_pequeño {
       
      width:  20px;
      height: 20px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 50%;
      background: black ;
      margin-left: 10px;
      margin-right: 10px;
      
    
    
}

ul li{
    font-size: 2rem;
    color: white;
    margin-left: 30%;
}
.contenedor div p {
    font-size: 1.2em;
    text-align: center;
    color:white;
   margin: auto;
   margin-top: 10px;
}
footer{
    
    background-color: rgb(218, 240, 93);
    color:black;
    display: contents;
    text-align: center;
}
.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    row-gap: 15px;
}

.social-icons li {
    display: inline;
    max-width: 20px;
    margin-left: 15px;
}
.social-icons a {
    text-decoration: none;
    color: #dfe7ccf5; /* Cambia el color seg�n tu dise�o */
    font-size: 24px; /* Tama�o del icono */
}
.social-icons a:hover {
    color: #0073e6; /* Color al pasar el rat�n */
}
/* */

@media  only screen and ( max-width:800px)  {


header div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    
    
}

.foto{
    border-color: aliceblue;
    height: 20%;
    margin-left: 5%;
    margin-top: 8%;
}
.contenedor div p{
    text-align: left;
    font-size: 90%;
}
hr{
    width: 90%;
    height: 1em;
}
ul li{
    font-size: 100%;
    line-height: 95%;
    
}
}
